body {
	margin: 0;
	padding: 0;
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.submit{
    margin: auto;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.submit h3 {
	text-align: center;
}
.submit form{
	display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}
.submit form input{
	padding: 15px;
    flex: 1;
    margin-right: 30px;
    font-size: 18px;
    color: #555;
}
form .btn{
	    padding: 18px 42px;
}
a.btn{
	color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #0ec1a8;
    font-weight: 800;
    text-align: center;
}
a{
	text-decoration: none;
}

.container {
	max-width: 1000px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	 margin-right: auto;
}
